// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Poppins', sans-serif;
$font-size-base: 1rem;
$line-height-base: 1.6;
$font-weight-semibold: 700;
$font-weight-bold: 900;

$red: #DF1C2D !default;
$headings-margin-bottom: 0;
$headings-margin-top: 0;
$btn-border-radius: 5rem;
$input-border-radius: 5rem;
$input-padding-x: 1rem;
$enable-negative-margins: true;
